.heading-animation {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(-180deg, rgba(35,35,35,1) 0%, rgba(44,44,44,0.47) 100%);
  svg {
    width: 100%;
  }
}