.thumbnail {
  position: relative;
  padding: 5px;
  display: block;
  width: 100%;
  height: 160px;
  //flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  word-wrap: break-word;
  background-clip: border-box;
  background-color: $thumbnail-bg;
  border: $thumbnail-border-width solid $thumbnail-border-color;
  @include box-shadow($thumbnail-box-shadow);
  @include transition($btn-transition);
  //margin-right: $card-deck-margin;
  margin-bottom: $card-deck-margin*2; // Override the default
  //margin-left: $card-deck-margin;
  text-align: center;
  .thumbnail-header {
    color: $gold;
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-align: right;
  }

  .thumbnail-bg {
    margin-top: 20px;
    stroke: $gray-500;
    line, rect, path, circle, ellipse, polyline, polygon {
      //stroke: $gray-500;
      //stroke-width: 2px;
    }
    @include transition($btn-transition);
  }

  &:hover {
    border: $thumbnail-border-width solid $thumbnail-hover-border;
    background-color: $thumbnail-hover-bg;
    .thumbnail-bg {
      stroke: $gold;
      line, rect, path, circle, ellipse, polyline, polygon {
        stroke: $gold;
      }
    }
  }
}

.thumbnail-deck {
  display: flex;
  flex-direction: column;

  .thumbnail {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    //margin-right: -$card-deck-margin;
    //margin-left: -$card-deck-margin;
    justify-content: space-between;

    .thumbnail {
      display: flex;
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: $card-deck-margin;
      //margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
    }
  }
}