.control-group {
  background-image: none;
  background-color: #1b1b1b;
  border-bottom: 1px solid #3a3a3a;
}

.chevron {
  transition: transform 0.2s ease-in-out;
}

.chevron-rotated {
  transform: rotate(90deg);
}

.slide-enter {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.slide-enter-active {
  max-height: 2000px;
}
